.lesson_name_container {
  position: relative;
  display: flex;
  width: 100%;

  .expand_icon {
    width: 48px;
    font-size: 48px;
    cursor: pointer;
    transform: rotate(180deg);
    margin-left: auto;
  }

  .lesson_name {
    position: absolute;
    top: 0;
    font-size: 6em;
    font-weight: var(--semi-bold);
    text-align: center;
    margin-right: auto;

    @include mediaQuery("xs") {
      font-size: 4em;
    }

    &.compressed {
      @include mediaQuery("xs") {
        font-size: 3em;
      }
    }
  }

  .lesson_duration {
    font-size: 2em;
    color: var(--main-bh);
    font-weight: var(--semi-bold);
  }
}
