.lesson_name_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  .expand_icon {
    width: 48px;
    font-size: 48px;
    cursor: pointer;
    transform: rotate(180deg);
    margin-left: auto;
  }

  .lesson_name {
    position: absolute;
    top: 0;
    color: var(--main-bg);
    width: max-content;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: auto;

    &.compressed {
      font-size: 4em !important;

      @include mediaQuery("sm") {
        font-size: 3em !important;
      }
    }
  }

  .lesson_duration {
    font-size: 2em;
    color: var(--second-bg);

    @include mediaQuery("sm") {
      font-size: 1.8em;
    }
  }
}
