.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1.7em 0;

  @include mediaQuery("sm") {
    margin: 1.4em 0;
  }

  .tagline {
    color: var(--second-text);
    font-size: 3.7em;
    font-weight: var(--medium);

    @include mediaQuery("sm") {
      font-size: 3em;
    }
  }

  .instance {
    font-size: 4.5em;
    font-weight: var(--bold);

    @include mediaQuery("sm") {
      font-size: 4em;
    }
  }

  .bad_instance {
    color: var(--red);
    text-decoration: line-through;
  }

  .good_instance {
    color: var(--green);
    font-weight: var(--bold);
    text-decoration: underline;
  }
}
