$img-size: 75px;
$img-size-xs: 35px;

.container {
  display: flex;
  background: var(--inversion);
  border-radius: 25px;
  max-width: 60%;
  padding: 25px;

  @include mediaQuery("xs") {
    padding: 15px;
  }

  .img {
    width: $img-size;
    min-width: $img-size;
    height: $img-size;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    margin-right: 30px;

    @include mediaQuery("xs") {
      width: $img-size-xs;
      min-width: $img-size-xs;
      height: $img-size-xs;
      margin-right: 15px;
    }
  }

  .name {
    color: var(--main-bg);
    font-size: 2.4em;
    font-weight: var(--bold);
  }

  .author_comment {
    color: var(--second-bg);
    font-size: 2.2em;
    line-height: 25px;
    margin-top: 10px;

    @include mediaQuery("xs") {
      font-size: 2em;
      line-height: 15px;
      margin-top: 5px;
    }
  }
}
