@import "./mixin/media.scss";

body {
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  overflow-x: hidden;
  @include mediaQuery("xxxl") {
    font-size: 7px;
  }
  @include mediaQuery("xxl") {
    font-size: 6px;
  }
}

* {
  position: relative;
}

.highlighted_text {
  display: inline-block;
  color: var(--blue);
  font-size: 7.4em;
  font-weight: var(--bold);
  line-height: normal;
  background-color: rgba(var(--blue-rgb), 0.5);
  border-radius: 10px;
  padding: 5px;
}

.title_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--inversion);
  font-size: 10em;
  font-weight: var(--bold);
  margin-bottom: 1em;
  text-align: center;

  @include mediaQuery("xs") {
    font-size: 7em;
    margin-bottom: 0.5em;
  }
}
