.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-text);
  border-radius: 50px;
  padding: 5em;
  margin-bottom: 50px;

  @include mediaQuery("lg") {
    padding: 3.5em 7em;
    margin-bottom: 20px;
  }

  @include mediaQuery("lg") {
    padding: 3.5em;
  }

  .module_mark {
    font-size: 2em;
    color: var(--inversion);
    background-color: var(--main-bg);
    border-radius: 20px;

    @include mediaQuery("sm") {
      font-size: 1.5em;
    }
  }

  .lesson_container {
    display: flex;
    width: 100%;
    gap: 4em;
    overflow: hidden;

    @include mediaQuery("lg") {
      flex-direction: column;
    }

    .lesson_video {
      background: grey;
      flex: 0.6;
      height: 500px;
      border-radius: 40px;

      @include mediaQuery("lg") {
        flex: auto;
        height: 300px;
      }
    }
  }
}
