.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-text);
  border-radius: 50px;
  padding: 65px;
  margin-bottom: 50px;

  .module_mark {
    font-size: 1.8em;
    color: var(--inversion);
    background-color: var(--main-bg);
    border-radius: 20px;
    padding: 0 30px;
    margin-bottom: 40px;
  }

  .lesson_name_container {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;

    .expand_icon {
      width: 48px;
      cursor: pointer;
      margin-left: auto;
    }

    .lesson_name {
      position: absolute;
      top: 0;
      font-size: 6em;
      font-weight: var(--semi-bold);
      margin-right: auto;
    }
  }

  .lesson_container {
    display: flex;
    width: 100%;
    gap: 40px;
    overflow: hidden;
  }
}
