@import "../../assets/style/mixin/media.scss";

.button {
  color: var(--main-bg) !important;
  background: var(--inversion) !important;
  width: 100%;
}

.xl {
  font-size: 2.4em !important;
  border-radius: 300px !important;
  padding: 0.9em !important;

  @include mediaQuery("xxxl") {
    padding: 0.5 !important;
  }
}

.primary {
  color: var(--inversion) !important;
  background: var(--blue) !important;
}

.outline {
  background: transparent !important;
  border: 2px solid var(--main-bg) !important;
}
