.recommended {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--inversion);
  font-size: 2.2em;
  font-weight: var(--semi-bold);
  text-transform: uppercase;
  text-align: center;
  width: calc(100% + 0.5px);
  padding: 15px 0 10px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  background: var(--blue);
  height: 90px;

  @include mediaQuery("lg") {
    top: 25px;
  }

  @include mediaQuery("sm") {
    font-size: 2em;
  }
}

.container {
  flex: 1;
  color: var(--main-bg) !important;
  background: var(--inversion) !important;
  border-radius: 70px;
  padding: 45px;

  @include mediaQuery("lg") {
    margin-top: 20px;
  }

  @include mediaQuery("sm") {
    padding: 25px;
  }

  .price_name {
    font-size: 2em;
    font-weight: var(--semi-bold);
    text-transform: uppercase;
    text-align: center;
    border: 2.5px solid;
    border-color: var(--main-bg) !important;
    border-radius: 35px;
    padding: 15px;

    @include mediaQuery("sm") {
      font-size: 2em;
    }
  }

  .price {
    font-size: 7em;
    font-weight: var(--bold);
    text-align: center;
    margin: 35px 0;

    @include mediaQuery("sm") {
      font-size: 6.5em;
      margin: 20px 0;
    }
  }

  .advantage {
    color: var(--third-bg);
    font-size: 2em;
    line-height: 25px;
    text-align: center;
    width: 80%;
    margin: 10px auto 0;

    @include mediaQuery("sm") {
      font-size: 2em;
      margin: 5px auto 0;
    }
  }

  .action_button {
    color: var(--inversion) !important;
    text-transform: none !important;
    background-color: var(--main-bg) !important;
    margin-top: 45px;

    @include mediaQuery("sm") {
      margin-top: 25px;
    }
  }
}

.container_main {
  border: 6px solid var(--blue);
  z-index: 1;

  @include mediaQuery("lg") {
    margin-top: 60px;
  }

  .action_button {
    background-color: var(--blue) !important;
  }
}
