.button {
  flex: 1;
  color: var(--inversion) !important;
  font-weight: var(--semi-bold) !important;
  background: var(--main-bg) !important;
  border-radius: 30px !important;
  .icon {
    margin-right: 15px;
    path {
      fill: var(--inversion);
    }
  }
}
