.container {
  position: relative;
  margin: 70px 0 50px;

  @include mediaQuery("lg") {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .handwriting_down_arrow {
    position: absolute;
    top: 50px;
    left: 150px;
    background-image: url("../../../../../../../assets/images/handwriting/down_arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 550px;

    @include mediaQuery("lg") {
      display: none;
    }
  }

  .content_container {
    width: 60%;
    margin-left: 40%;

    @include mediaQuery("lg") {
      width: 100%;
      margin-left: 0;
    }

    .description {
      color: var(--inversion);
      font-weight: normal;
      font-size: 5em;
      text-align: center;

      @include mediaQuery("sm") {
        font-size: 3.2em;
        line-height: 30px;
      }

      @include mediaQuery("sm") {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }

      .highlighted_text {
        font-size: 1em;

        @include mediaQuery("sm") {
          margin-left: 5px;
        }
      }
    }
    .description_down {
      display: block;
      margin-left: 60px;

      @include mediaQuery("lg") {
        display: inline;
        margin-left: 5px;
      }
    }

    .author_comment {
      margin-top: 60px;
      margin-left: 20%;

      @include mediaQuery("lg") {
        max-width: 100%;
        margin: 30px auto 0;
        width: 65%;
      }

      @include mediaQuery("xs") {
        width: 92%;
        margin: 30px 0;
      }
    }
  }
}
