.container {
  position: relative;
  margin-top: 150px;
  margin-bottom: 50px;

  .handwriting_down_arrow {
    position: absolute;
    top: 0;
    left: 150px;
    background-image: url("../../../../../../../assets/images/handwriting/down_arrow.png");
    background-repeat: no-repeat;
    height: 500px;
    width: 550px;
  }

  .content_container {
    width: 75%;
    margin-left: 35%;

    .description {
      color: var(--inversion);
      font-size: 5.8em;

      .highlighted_text {
        font-size: 1em;
      }
    }
    .description_down {
      margin-left: 60px;
    }

    .author_comment {
      margin-top: 150px;
      margin-left: 20%;
    }
  }
}
