:root {
  --main-bg: #0a0a0a;
  --second-bg: #161616;
  --third-bg: #646464;

  --main-text: #ebebeb;
  --second-text: #d9d9d9;
  --third-text: #ababab;

  --inversion: #eaece4;

  --blue: #4a7cdd;
  --green: #3ee882;
  --red: #dd4a4a;

  --blue-rgb: 74, 124, 221;
}
