.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.name {
  color: var(--third-text);
  font-size: 2em;
  font-weight: var(--medium);
}

.description {
  color: var(--inversion);
  font-size: 2.4em;
  font-weight: var(--bold);
  margin-top: 20px;
}
