.navigation {
  display: flex;
  flex: 0.4;
  flex-direction: column;
  justify-content: space-between;

  .button_navigation {
    display: flex;
    justify-content: space-between;
    gap: 2em;

    @include mediaQuery("xs") {
      flex-direction: column;
      gap: 1em;
      margin-top: 3.5em;
    }
  }
}
