@import "../../../../../assets/style/mixin/media.scss";

.section {
  display: flex;
  gap: 2em;
  min-height: calc(100vh - 20em);
  padding: 10em 0;

  @include mediaQuery("xs") {
    flex-direction: column;
    padding-bottom: 0;
  }
}
