.container {
  background-color: var(--main-bg);
  padding-bottom: 20em;

  @include mediaQuery("xs") {
    padding-bottom: 2em;
  }

  .content {
    width: 90vw;
    max-width: 1700px;
    margin: 0px auto;
  }
}
