.step_container {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 20px;

  .label_root_container {
    display: flex;
    align-items: flex-start;
  }
  .label_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    font-size: 1em;

    .icon {
      width: 25%;
      font-size: 150px;
      path {
        fill: var(--inversion);
      }

      @include mediaQuery("sm") {
        display: none;
      }
    }

    .label_content_container {
      width: 65%;

      @include mediaQuery("sm") {
        width: 100%;
      }

      .title {
        hyphens: auto;
        margin-top: -0.05em;
        margin-left: -5px;

        @include mediaQuery("sm") {
          margin-top: 0.2em;
          margin-left: 0;
        }
      }
      .description {
        @include mediaQuery("sm") {
          margin-top: 0.5em;
        }
      }
    }
  }
}
