.container {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--second-bg);
  border-radius: 7.5em;
  padding: 6.5em;

  @include mediaQuery("xs") {
    flex: 0;
    padding: 5em;
  }

  .description {
    color: var(--third-text);
    font-size: 2em;
    font-weight: var(--medium);
    line-height: 1.8em;
  }

  .action_container {
    display: flex;
    gap: 3em;

    @include mediaQuery("xs") {
      flex-direction: column;
      gap: 2em;
      margin-top: 8em;
    }
  }
}
