.container {
  width: 100%;
  background-color: var(--second-bg);
  border-radius: 75px;
  padding: 65px !important;

  .description {
    color: var(--third-text);
    font-size: 2.2em;
    font-weight: var(--medium);
    line-height: 30px;
  }
}
